{% extends 'usercred/base.html' %}

{% block title %}Workstamp Home{% endblock %}

{% block content %}
    <h1>Welcome to Workstamp!</h1>
    <p>{{ welcome_message }}</p>

    <h2>Your Log Time Details</h2>
    <ul>
        {% for log in log_time_details %}
            <li>{{ log.timestamp }}: {{ log.activity }}</li>
        {% empty %}
            <li>No log time entries found.</li>
        {% endfor %}
    </ul>
    {% if punch_in_url %}
    <a href="{% url 'workstamp:punch_in' %}" class="btn btn-primary">Log Your Time</a>
{% elif punch_out_url %}
    <a href="{% url 'workstamp:punch_out' %}" class="btn btn-danger">Punch Out</a>
{% endif %}


{% endblock %}
